<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <button [routerLink]="['/alpha']">Load Alpha</button>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
  <a [routerLink]="['/seattle']">Seattle WA</a> | <a [routerLink]="['/sanjose']">San Jose CA </a> | <a [routerLink]="['/burbank']">Burbank CA</a> | <a [routerLink]="['/dallas']">Dallas TX </a> | <a [routerLink]="['/washington']">Washington D.C.</a> | <a [routerLink]="['/chicago']">Chicago IL </a>

<!--  <button [routerLink]="['/sanjose']">San jose</button>-->
<!--  <button [routerLink]="['/seattle']">Seattle</button>-->
<!--  <button [routerLink]="['/burbank']">Burbank</button>-->
<!--  <button [routerLink]="['/dallas']">Dallas</button>-->
<!--  <button [routerLink]="['/washington']">Washigton</button>-->
<!--  <button [routerLink]="['/chicago']">Chicago</button>-->



</div>


<router-outlet></router-outlet>
